.container{
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.participant{
    max-width: 300px;
    height: 100px;
    flex-basis: 33%;
    box-sizing: border-box;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    background: rgb(150, 150, 150);
    align-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.delete{
    width: 241px;
    height: 34px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 10px;
}
.delete:hover{
    border: 2px solid rgb(255, 0, 0);
    background: rgba(255, 27, 27, 0.3);
}
.add{
    width: 241px;
    height: 34px;
    box-sizing: border-box;
    border: 2px solid rgb(109, 163, 45);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 10px;
}
.add:hover{
    background: rgba(144, 212, 60, 0.3);
    border: 2px solid rgb(109, 163, 45);
}

.menu{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: right;
}

.table{
    margin-top: 8px;
    max-width: 100%;
    border: 2px solid rgb(255, 181, 167);
    border-radius: 3px;
    background: rgb(255, 255, 255);
}
.table table{
    width:100%;
    justify-content: center;
    border-spacing: 0;
}
td{
    border-top: 2px solid var(--third-color);
    padding: 5px;
}
.title{
    background: var(--link-color);
    height: 41px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 3px 3px 0px 0px;
    
}
.title td{
    border-top: 0px;
    
}
.line{
    height: 35px;
    border: 2px solid rgb(255, 181, 167);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

.check{   
    text-align: center;
}

.card{
    text-align: center;
    color: rgb(0, 0, 0, 0.55);
    cursor: pointer;
}