.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    filter: blur(5px);
    z-index: -2;
}

.mask {
    position: absolute;
    mask-image: url('../../public/mask.svg');
    mask-type: luminance;
    background: #232323;
    mask-repeat: no-repeat;
    mask-size: 40px;
    mask-position: calc();
    width: 95%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

